{% extends 'base.html' %}

{% block contenido %}

<div id="pricing" class="block-17 px-4 space-between-blocks">
    <div class="container">
      <div class="block-17__header col-lg-8 col-xl-7 mx-auto text-center px-0">
        <h1 class="block__title mb-3">Creditos</h1>

      </div>
      <div class="block-17__card row flex-column-reverse flex-lg-row justify-content-center">
        <div class="testimonial-card-3 text-center col-lg-6 px-0 d-flex align-items-center justify-content-center">
          <div class="px-4 px-lg-5">
            <img class="person__avatar" src="">
            
          </div>
        </div>
        <div class="cta-card col-lg-5 px-0">
          <div class="plan-card text-center">
            <h4 class="plan-card__name mb-0">Yoselin Judith Sandoval López</h4>
            <h6 class="plan-card__name mb-0">0903-15-20842</h6>
            <p class="plan-card__price my-2">Desarrollo Web</p>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}